<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampInn</title>
</head>
<body>

    <h1>ALL CAMPINN</h1>
    <div>
        <a href="/campinns/new">Add campinn</a>
    </div>
    <ul>
        <% for (let campinn of campinns ) {%>
            <li> <a href="/campinns/<%=campinn._id%>"><%= campinn.title %></a>  </li>

       <% } %>

    </ul>

</body>
</html>
