<% layout('layout/boilerplate') %>

<div class="row">
  <h1 class="text-center">New campground</h1>
  <div class="col-6 offset-3">
    <form action="/campinns" class="validated-form" method="POST" novalidate>
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" name="campinn[title]" id="title" required>
        <div class="valid-feedback">looks great</div>
      </div>
      <div class="mb-3  ">
        <label class="form-label" for="location">location</label>
        <input class="form-control" type="text" name="campinn[location]" id="location" required>
        <div class="valid-feedback">looks great</div>

      </div>
      <div class="mb-3  ">
        <label class="form-label" for="image">Image Url</label>
        <input class="form-control" type="text" name="campinn[image]" id="image" required>
        <div class="valid-feedback">looks great</div>

      </div>
      <div class="mb-3  ">
        <label class="form-label" for="price">CampInn price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">#</span>
          <input class="form-control" type="text" id="price" placeholder="0.00" aria-describedby="price-label"
            aria-label="price" name="campinn[price]" required>
          <div class="valid-feedback">looks great</div>


        </div>
      </div>
      <div class="mb-3  ">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" name="campinn[description]" required id="description" > </textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add campinn</button>

      </div>

    </form>

    <a href="/campinns">All campinn</a>

  </div>
</div>
