<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>show Campinn</title>
</head>

<body>

  <h1><%= campinn.title %></h1>
  <h2><%= campinn.location %></h2>
  <p><a href="/campinns/<%=campinn._id %>/edit">Edit</a>
  </p>
  <p>
    <form action="/campinns/<%=campinn._id %>?_method=DELETE" method="post">
      <button>Delete</button>
    </form>
  </p>

  <footer>
    <a href="/campinns">All campinns</a>

  </footer>

</body>

</html>
