<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoilerPlate</title>
</head>
<body>

    <h1>BEFORE</h1>
    <%- body %>

    <H1>AFTER</H1>
    
</body>
</html>
